.configs-main-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configs-main-container .content
{
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.configs-main-container .bar-selection
{
    width: 150px;
    height: 55px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 15px 15px 0 0;

}

.configs-main-container .subpage
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px rgba(142, 142, 142, 0.2);
}

