.gestãoformandos-main-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gestãoformandos-main-container .content
{
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.gestãoformandos-main-container .bar-selection
{
    width: 150px;
    height: 55px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 15px 15px 0 0;

}

.bar-selection .bar{

    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: inset 0 -1px 2px 0px rgba(142, 142, 142, 0.2);
    height: 100%;
    font-size: 40px;
    width: 50%;
    padding: 5px 0 5px 0;
}

.bar-selection .bar:hover
{
    color: rgb(227, 197, 27);
    cursor: pointer;
}

.bar-selection .active
{
    color: rgb(255, 64, 0);
    box-shadow: 0px 0px 8px rgba(142, 142, 142, 0.2);
    border-bottom: none;
}

.gestãoformandos-main-container .subpage
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px rgba(142, 142, 142, 0.2);
}

.gestãoformandos-main-container .subpage li{
    list-style: none;
    margin-bottom: 5px;
}

.gestãoformandos-main-container .subpage ul{
    padding: 15px 0 5px 0;
    margin: 0;
}

.gestãoformandos-main-container .subpage .bd-container
{
    display: flex;
    flex-direction: column;
}

.gestãoformandos-main-container .subpage .bd-container ul
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.gestãoformandos-main-container  .subpage .header-bd
{
    position: sticky;
    background: white;
    top: 0;
    display: flex;
    box-shadow: 0 2px 1px rgb(130 130 130 / 20%);
    padding: 5px 0 7px 0;
    z-index: 10;
}

.gestãoformandos-main-container  .subpage .header-bd .add-icon
{
    font-size: 25px;
    margin: 0;
    display: flex;
    width: 4%;
    justify-content: center;
}

.gestãoformandos-main-container  .subpage .header-bd .add-icon span
{
    align-self: center;
}

.gestãoformandos-main-container  .subpage .header-bd .add-icon span:hover
{
    color: rgb(120, 190, 62);
    cursor: pointer;
}

.gestãoformandos-main-container  .subpage .header-bd h2
{
    margin: 0;
    text-align: center;
}

.gestãoformandos-main-container  .subpage .maior-espaço
{
    width: 11%;
}

.gestãoformandos-main-container  .subpage .menor-espaço
{
    width: 6%;
}

.gestãoformandos-main-container  .subpage .nome
{
    flex: 1;
}



.gestãoformandos-main-container  .subpage .header-bd .clicable-element:hover
{
    color: rgb(227, 197, 27);
    cursor: pointer;
}

.gestãoformandos-main-container  .subpage .header-bd .filter-icon{
    display: flex;
    width: 2%;
    align-self: flex-end;
    justify-content: center;
}


.gestãoformandos-main-container  .subpage .header-bd .filter-icon:hover{
    color: rgb(227, 197, 27);
    cursor: pointer;
}

.gestãoformandos-main-container  .subpage .info-bd
{
    display: flex;
    align-items: center;
}

.gestãoformandos-main-container  .subpage .info-bd a
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.gestãoformandos-main-container  .subpage .info-bd a:hover
{
    color: rgb(227, 197, 27);
}


.gestãoformandos-main-container  .subpage .info-bd span
{
    text-align: center;
}

.gestãoformandos-main-container  .subpage .info-bd select
{
    text-align: center;
}

.gestãoformandos-main-container  .subpage .info-bd .filter-width
{
    width: 2%;
}

.gestãoformandos-main-container  .subpage .info-bd .icones
{
    display: flex;
    justify-content: space-around;
    width: 4%;
    font-size: 20px;
}

.gestãoformandos-main-container  .subpage .info-bd .icones .modernIcon:hover
{
    color: rgb(227, 197, 27);
    cursor: pointer;
}


.gestãoformandos-main-container .subpage .baixa-container
{
    display: flex;
    flex-direction: column;
}

.gestãoformandos-main-container .subpage .baixa-container .header-ul
{
    padding: 0;
    margin: 0;
}


.gestãoformandos-main-container .baixa-container .li-header
{
    display: flex;
    flex-direction: column;
}

.gestãoformandos-main-container .baixa-container li .escola-header
{
    display: flex;
}

.gestãoformandos-main-container .baixa-container li .escola-header:hover
{
    cursor: pointer;
    color: white;
    background-color: rgb(82, 82, 82);
}

.gestãoformandos-main-container .baixa-container li h2
{
    margin-left: 40px;
}

.gestãoformandos-main-container .baixa-container li p
{
    margin-right: 5px;
}


.gestãoformandos-main-container .baixa-container .info-baixa
{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.gestãoformandos-main-container .baixa-container .alunos-list
{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gestãoformandos-main-container .baixa-container .li-aluno
{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.gestãoformandos-main-container .baixa-container .li-aluno .span-parcelaPagamento
{
    display: flex;
    width: 12.5%;
}

.gestãoformandos-main-container .baixa-container .li-aluno h2
{
    margin: 0;
}

.gestãoformandos-main-container .baixa-container .li-aluno input
{
    font-size: 15px;
}

.gestãoformandos-main-container .baixa-container .li-aluno .pagamentos
{
    display: flex;
    width: 60%;
    margin-left: 20px;
}


.gestãoformandos-main-container .baixa-container .li-aluno .anotacoes
{
    flex: 1;
    text-align: center;
}



.gestãoformandos-main-container .baixa-container .li-aluno .nome-aluno
{
    width: 11%;
}

.gestãoformandos-main-container .baixa-container .li-aluno .status
{
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;
}




.gestãoformandos-main-container .baixa-container .li-turma .p-turma
{
    margin-left: 10px;
    font-weight: bold;
}










.activeescola
{
    box-shadow: 0 0px 8px rgb(226, 113, 48);
}

.activeheader
{
    background-color: black;
    color: white;
}

.escola-pg-atrasado
{
    color: red;
}