.listacompras-main-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listacompras-main-container .content
{
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.listacompras-main-container .bar-selection
{
    width: 150px;
    height: 55px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 15px 15px 0 0;

}

.bar-selection .bar{

    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: inset 0 -1px 2px 0px rgba(142, 142, 142, 0.2);
    height: 100%;
    font-size: 40px;
    width: 50%;
    padding: 5px 0 5px 0;
}

.bar-selection .bar:hover
{
    color: rgb(227, 197, 27);
    cursor: pointer;
}

.bar-selection .active
{
    color: rgb(255, 64, 0);
    box-shadow: 0px 0px 8px rgba(142, 142, 142, 0.2);
    border-bottom: none;
}

.listacompras-main-container .subpage
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px rgba(142, 142, 142, 0.2);
}

.listacompras-main-container .subpage li{
    list-style: none;
    margin-bottom: 5px;
}

.listacompras-main-container .subpage ul{
    padding: 15px 0 5px 0;
    margin: 0;
}

.listacompras-main-container .subpage .bd-container
{
    display: flex;
    flex-direction: column;
}

.listacompras-main-container  .subpage .header-bd
{
    position: sticky;
    background: white;
    top: 0;
    display: flex;
    box-shadow: 0 2px 1px rgb(130 130 130 / 20%);
    padding: 5px 0 7px 0;
    z-index: 10;
}

.listacompras-main-container  .subpage .header-bd .add-icon
{
    font-size: 25px;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.listacompras-main-container  .subpage .header-bd .add-icon span
{
    align-self: center;
}

.listacompras-main-container  .subpage .header-bd .add-icon span:hover
{
    color: rgb(120, 190, 62);
    cursor: pointer;
}

.listacompras-main-container  .subpage .header-bd h2
{
    margin: 0;
    width: 23%;
    text-align: center;
}

.listacompras-main-container  .subpage .header-bd .clicable-element:hover
{
    color: rgb(227, 197, 27);
    cursor: pointer;
}

.listacompras-main-container  .subpage .header-bd .filter-icon{
    display: flex;
    width: 27px;
    align-self: flex-end;
    justify-content: center;
}


.listacompras-main-container  .subpage .header-bd .filter-icon:hover{
    color: rgb(227, 197, 27);
    cursor: pointer;
}

.listacompras-main-container  .subpage .info-bd
{
    display: flex;
}

.listacompras-main-container  .subpage .info-bd span
{
    width: 23%;
    text-align: center;
}

.listacompras-main-container  .subpage .info-bd .filter-width
{
    width: 27px;
}

.listacompras-main-container  .subpage .info-bd .icones
{
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-right: 5px;
    font-size: 20px;
}

.listacompras-main-container  .subpage .info-bd .icones .modernIcon:hover
{
    color: rgb(227, 197, 27);
    cursor: pointer;
}


.subpage .report-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}


.report-container .info-report-header{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.report-container .qnt-pessoas
{
    display: flex;
}


.report-container p
{
    margin: 5px 0 5px 0;
    font-size: 18px;
}

.report-container input{
  background-color: rgb(249, 249, 249);
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 18px;
  margin-left: 5px;
  width: 50px;
  height: 30px;
  text-align: center;
}

.report-container select
{
  background-color: rgb(249, 249, 249);
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 18px;
  height: 32px;
  cursor: pointer;
  margin-left: 10px;
}

.report-container .generate-pdf
{
    align-self: center;
    margin-bottom: 10px;
}

.report-container .pdf-icon
{
    font-size: 30px;
}

.report-container .pdf-icon:hover
{
  color: rgb(187, 175, 49);
  cursor: pointer;
}


.report-container .info-report-body
{
    display: flex;
    flex-direction: column;
}

.info-report-body .table-header
{
    display: flex;
    justify-content: space-around;
}

.info-report-body ul
{
    display: flex;
    flex-direction: column;
}

.info-report-body li{
    display: flex;
}

.info-report-body .resto-colunas
{
    width: 25%;
    text-align: center;
}

.info-report-body .coluna-2
{
    width: 20%;
    text-align: center;
}

.info-report-body .coluna-1
{
    width: 30%;
    text-align: center;
}












/* CSS GERAL */

button
{
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgba(133, 133, 133, 0.3);
  padding: 7px;
}

button:hover
{
  color: rgb(187, 175, 49);
  cursor: pointer;
}
