.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay .content {
  background: #fff;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.content header
{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.content header h1{
  justify-self: center;
  margin: 10px 0 10px 0;
}

.content .close-modal-icon
{
  justify-self: end;
  align-self: flex-start;
  margin: 5px;
}

.content .close-modal-icon:hover
{
  cursor: pointer;
  color: rgb(187, 175, 49);
}


.content .body
{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 160px;
  padding: 0 15px 0 15px;
}


.content .body .input
{
  margin-bottom: 10px;
  display: flex;
}

.content .body input
{
  flex: 1;
  background-color: rgb(249, 249, 249);
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 18px;
}

.content .body input:focus
{
  border-color: #d66910;
  outline: none;
}

.content .body select{
  flex: 1;
  background-color: rgb(249, 249, 249);
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 18px;
  cursor: pointer;
}


.content .body p
{
  margin: 0;
  margin-right: 5px;
}

.content .infoModal
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.body .title{
  display: flex;
  align-items: center;
}

.title input
{
  padding-left: 5px;
  margin-left: 5px;
  font-size: 20px;
  height: 20px;
}

.body .difficulty
{
  display: flex;
  align-items: center;
}

.body .difficulty select
{
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
}

.body .difficulty select:hover{
  border-color: rgb(187, 175, 49);
}

.body .difficulty select:focus{
  border-color: rgb(187, 175, 49);
}

.body button
{
  margin-top: 8px;
  font-size: 20px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid rgba(133, 133, 133, 0.3);
  align-self: center;
}

.body button:hover
{
  color: rgb(187, 175, 49);
  cursor: pointer;
}

