

.drop-down {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}


.dropdown-content {
  position: absolute;
  white-space: nowrap;

  background: #222;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.pagamentos .pagamento
{
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 7%;
    height: 25px;
    width: 50%;
    border: black solid 1px
}

.pagamentos .pagamento p
{
  margin: 0;
  padding: 0;
  text-align: center;
  align-self: center;
  font-weight: 500;
}

.pagamentos .pagamento:hover
{
    color: white;
    background-color: rgb(82, 82, 82);
    cursor: pointer;
}



.dropdown-content select
{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width:80px;

  padding: 8px 36px 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.dropdown-content select:hover
{
  border-color: #999;
}

.dropdown-content select:focus {
  outline: none;
  border-color: rgb(226, 113, 48);
  box-shadow: 0 0 0 2px rgba(79,70,229,.15);
}




.dropdown-content.horizontal-right {
  left: var(--dropdown-distance);
  top: 50%;
  transform: translateY(-50%) translateX(-10px);
}

.dropdown-content.horizontal-right.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) translateX(0);
}

.dropdown-content.horizontal-left {
  right: var(--dropdown-distance);
  top: 50%;
  transform: translateY(-50%) translateX(10px);
}

.dropdown-content.horizontal-left.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) translateX(0);
}

.dropdown-content.vertical-down {
  top: var(--dropdown-distance);
  left: 25%;
  transform: translateX(-50%) translateY(-10px);
}

.dropdown-content.vertical-down.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.dropdown-content.vertical-up {
  bottom: var(--dropdown-distance);
  transform: translateX(-50%) translateY(10px);
}

.dropdown-content.vertical-up.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}






.pagamentos .atrasado
{
  background-color: rgb(249, 74, 74);
}

.pagamentos .pago
{
  background-color: rgb(190, 249, 101);
}

.pagamentos .invalido
{
  background-color: rgb(243, 180, 64);
}

.pagamentos .activepagamento
{
    background-color: black;
    color: white;
}



