@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(251, 251, 251, 0.833)
}

#root {
  height: 100%;
}

.main-container {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}



.main-container .content
{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content .page{
  display: flex;
  height: 100vh;
}














.inputs input{
  font-size: 20px;
}

.inputs select
{
  font-size: 20px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}


.form button
{
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;
  align-self: center;
  border-radius: 10px;
  border: 1px solid;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

.form button:hover
{
  background-color:rgb(187, 175, 49);
  cursor: pointer;
}

.content .activitiesRegistry
{
  width: 100%;
}

.activitiesRegistry h2{
  justify-self: center;
}

.activitiesRegistry p
{
  font-size: 20px;
  justify-self: center;
}

.activitiesRegistry ul
{
  width: 70%;
  padding: 0;
  font-size: 20px;
  justify-self: center;
  margin-bottom: 10px;
}

.activitiesRegistry li
{
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 10px;
}

.activitiesRegistry li .info
{
  flex: 1;
}

.activitiesRegistry li .icones
{
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.activitiesRegistry li .icones .icone
{
  font-size: 25px;
}

.activitiesRegistry li .icones .icone:hover
{
  cursor: pointer;
  color: rgb(187, 175, 49);
}

